* {
  --color-black: #1D1F22;
  --color-smooth-green: #5ECE7B;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
