* {
  --color-black: #1D1F22;
  --color-grey: #8D8F9A;
  --color-smooth-green: #5ECE7B;
  --color-smooth-green-dark: #50AF69;

  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-black);

  display: flex;
  justify-content: center;

  overflow-x: hidden;

  position: relative;
}
